@import 'sprite.scss';

/*
La première manière de faire des animations 
consistera à utiliser la propriété "transition" 
à laquelle on pourra indiquer la propriété concernée
par la transition, le temps de transition et autre.
A ce moment là, une animation se déclenchera à 
chaque fois que le style de l'élément est modifié 
(soit par un hover, soit par le rajout d'une class
via le javascript ou autre) pour faire la transition
du style actuel vers le nouveau style
*/
p {
    font-size: 20px;
    transition: 2s;
}

p.bloup {
    font-weight: bold;
    font-size: 40px;
    color: red;
    border:1px solid black;
}
/*
La deuxième manière consiste à utiliser des keyframes
et les propriétés animation.
On commence par définir un keyframes (voir plus bas) qui définira
les différentes étapes de l'animation.
Une fois les étapes définies, on viendra ajouter à l'élément auquel
on veut appliquer le keyframes plusieurs propriétés :
animation-name pour dire le nom du keyframes à appliquer
animation-duration pour dire le temps que prendra l'animation à s'exécuter
animation-iteration-count pour dire combien de fois faire l'animation
et bien d'autres.
https://www.w3schools.com/cssref/css3_pr_animation.asp
*/
.redSquare {
    display:block;
    background-color:red;
    width:50px;
    height:50px;
    position: absolute;
    top:50px;
    left:50px;
    animation-name: changeColor;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


@keyframes changeColor {
    25% {
        height: 100px;
        left: 85%;
        top: 10%;
        background-color: blue;
        border-radius: 0;
    }
    50% {
        left: 10%;
        top: 85%;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background-color: green;
    }
    75% {
        left: 85%;
        top: 85%;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        background-color: black;
    }
    100% {
        top: 10%;
        left: 10%;
        border-radius: 0;

    }
}

// .menu {
//     .panel {
//         opacity: 0;
//         width: 150px;
//         height: 50px;
//         box-shadow: 0px 3px 12px grey;
//         background-color: white;
//         transition: height 0.3s;
//     }
//     &:hover .panel {
//         opacity:1;
//         height: 200px;
//     }
// }