.char {
    background-image: url('gfx/spritesheet.png');
    height: 150px;
    width: 100px;
    background-position-y: -300px;
    animation-duration: 1s, 3s;
    animation-iteration-count: 3, 1;
    animation-timing-function: steps(6), linear;
    animation-fill-mode: forwards;
    position:absolute;
    top: 10px;
    left: 10px;
}

@keyframes walkRight {
    from {
        background-position-y: 0;
        background-position-x: 0;
    }
    to {
        background-position-y: 0;
        background-position-x: -630px;
    }
}


@keyframes translate {
    to {
        left: 90%;
    }
}